body {
  font-family: sans-serif;
  /*background-color: #eee;*/
}

#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip span {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.about {
  width: 50%;
  margin: auto;
}

.title {
  font-size: 12px;
}

svg {
  background-color: #fcfcfc;
}
circle {
  stroke: #dbdbdb;
  stroke-width: 1px;
}
.actor2 {fill: #fff5eb;}
.actor3 {fill: #fee6ce;}
.actor4 {fill: #fdd0a2;}
.actor5 {fill: #fdae6b;}
.actor6 {fill: #fd8d3c;}
.actor7 {fill: #f16913;}
.actor8 {fill: #d94801;}
.actor9 {fill: #a63603;}
.actor10 {fill: #7f2704;}


.director1 {fill: #eff3ff;}
.director2 {fill: #bdd7e7;}
.director3 {fill: #6baed6;}
.director4 {fill: #2171b5;}

.writer1 {fill: #edf8e9;}
.writer2 {fill: #bae4b3;}
.writer3 {fill: #74c476;}
.writer4 {fill: #238b45;}

.active {
  /*stroke: #474747;*/
  fill: #6700a6;
}

.hidden {
  display: none;
}
